body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img#logo {
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul#nav li {
  display: inline;
}